body {
	background-color: #DFDFDF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding-top: 20px;
	
}
.wrapper {
	width: 950px;
	margin: 0 auto;
}
.header-wrapper {
	background-color: #333;
	height: 80px;
}
.header-title {
	color: #fff;
	padding: 20px 0 0 20px;
	margin: 0;
}
.nav-wrapper {
	background-color: #666666;
	height: 50px;
	width: 100%;
	border-bottom: 12px solid #ffffff;
}
.nav-items {
	padding: 15px 0 0 20px;
	margin: 0;
}
.nav-items a:link,
.nav-items a:visited {
	color:#ccc;
	text-decoration: none;
}
.nav-active a:link,
.nav-active a:visited {
	color:#fff;
}
.nav-items li {
	color: #ffffff;
	list-style: none;
	float: left;
	padding: 0 10px 0 10px;
	border-right: 1px solid #ccc;
	font-size:14px;
}
.nav-items .nav-first {
	padding-left: 0;
}
.nav-items .nav-last {
	border-right: none;
}
.image-wrapper {
	width: 950px;
	height: 160px;
}
.content-wrapper {
	background-color: #999999;
	height: 400px;
	clear: left;
	padding: 20px;
}
.content-left {
	float:left;
	width:49%;
	color:#fff;
}
.content-left h2{
	padding:0 10px 0 0;
	color:#fff;
	font-size:16px;
}
.content-left p{
	padding:0 10px 0 0;
	color:#fff;
	font-size:12x;
}
.content-right {
	float:right;
	width:49%;
	color:#fff;
}
.content-right p{
	text-align:right;
	padding:0 10px 0 0;
}
.news-item{
	border:1px dotted #fff;
	padding:0 10px;	
	margin-bottom:10px;
}
.news-item p,
.news-item h3{
	color:#fff;
	text-align:left;
}
.footer-wrapper{
	background-color:#666;
	height:85px;
	padding:22px 15px 0 20px;
}
.footer-wrapper a:link{
	color: #fff;
	text-decoration: none;
	
}